{{outlet}}

<input type='text' value={{prop1}}>One way input<br>
Property 1:{{prop1}}<br>
Property 2:{{prop2}}<br>
{{input type='text'  value=prop1}}Two way input helper<br>
<button {{action 'enter' prop1}}>Value of prop1</button><br>

Propert 3:{{prop3}}

<br>
<button {{action 'action1'}}>Action 1 in controller</button>
<button {{action 'action2'}}>Action 2 in controller and route</button>
<button {{action 'enter'}}>Action enter only in route</button>
